{% extends 'base.html'%} {%block form%}

<div class="sign-in-form">
  <div class="brand-section">
    <img src="../static/images/brand.svg" alt="" srcset="" />
  </div>
  <p>{{username}}</p>
  <h3 style="font-size: 27px; margin-top: -3px;">Enter password</h3>

  <form method="post">
    <input placeholder="Password" type="password" name="password" id="" />

    <div class="margin link">
        <a href="">Forgot password?</a>
      </div>

    <div class="margin link">
      <a href="">Email code to {{username}}</a>
    </div>

    <div class="form-buttons">
      <div class="buttons-flex">

      <div class="submit-button">
        <button>Sign in</button>
        <!-- <input type="submit" value="Next"> -->
      </div>
      </div>
      
    </div>
  </form>
</div>


{%endblock%}
